/target
/dist/
/Cargo.lock
/CMakeFiles
/Makefile
/cmake_install.cmake
.DS_Store
.idea
venv/
__pycache__/
.sedsnet-release.toml

c-system-test/build/

c-example-code/build/

*.so
python-files/sedsnet/sedsprintf_rs.pyi
/sedsnet_macros/target/
/sedsnet_macros/Cargo.lock

*..wiki/
/inspection/
